/*@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


input{
  font-family: "Merriweather", serif;
  color: orangered;
  width: 150px;
  line-height: 60px;
  text-align: right;
  border-radius: 8px;
  border: 1px dotted darkred;
  outline: none;
  font-size: 2.5rem;
}

label{
  font-family: "Merriweather", serif;
  display: block;
  font-size: 1.25rem;
  margin-top: 25px;
}

.caja{

  text-align: center;
}*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #ff7e5f, #feb47b); /* Fondo con degradado */
}

.container {
  background-color: #fff;
  border-radius: 20px; /* Ajusta el radio de los bordes según tu preferencia */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  max-width: 400px; /* Ajusta el ancho máximo del contenedor */
  width: 100%;
  text-align: center;
}

.title {
  font-family: 'Jacquarda Bastarda 9', serif;
  color: black; /* Color del texto del título */
  font-size: 2rem; /* Tamaño del texto del título */
  margin-bottom: 20px; /* Espacio entre el título y la caja principal */
}


input {
  font-family: "Merriweather", serif;
  color: #333; /* Cambiado a un tono más neutro */
  width: 200px; /* Ajustado el ancho */
  height: 40px; /* Ajustado el alto */
  text-align: right;
  border-radius: 8px;
  border: 1px solid #ccc; /* Cambiado el tipo de borde */
  outline: none;
  font-size: 1.5rem; /* Reducido el tamaño de la fuente */
  margin-bottom: 15px; /* Añadido margen inferior */
}

label {
  font-family: "Merriweather", serif;
  display: block;
  font-size: 1rem; /* Ajustado el tamaño de la fuente */
  margin-top: 20px; /* Reducido el margen superior */
}

.caja {
  text-align: center;
}
